body {
  width: 300px;
  margin: 0 auto;
  font-size: 1.2rem;
  font-family: sans-serif;
}

p {
  line-height: 1.4;
}

/* Important: link order must be as follows */

a {

}

a:link {

}

a:visited {

}

a:focus {

}

a:hover {

}

a:active {

}
